<link rel="stylesheet" href="{{ url_for('bower.static', filename='codemirror/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('bower.static', filename='codemirror/addon/fold/foldgutter.css') }}">
<script src="{{ url_for('bower.static', filename='codemirror/lib/codemirror.js') }}"></script>

<script src="{{ url_for('bower.static', filename='codemirror/addon/fold/foldgutter.js') }}"></script>
<script src="{{ url_for('bower.static', filename='codemirror/addon/fold/foldcode.js') }}"></script>
<script src="{{ url_for('bower.static', filename='codemirror/addon/fold/indent-fold.js') }}"></script>
<script src="{{ url_for('bower.static', filename='codemirror/addon/fold/brace-fold.js') }}"></script>
<script src="{{ url_for('bower.static', filename='codemirror/addon/fold/xml-fold.js') }}"></script>
<script src="{{ url_for('bower.static', filename='codemirror/addon/fold/markdown-fold.js') }}"></script>
<script src="{{ url_for('bower.static', filename='codemirror/addon/fold/comment-fold.js') }}"></script>

<script src="{{ url_for('bower.static', filename='codemirror/mode/yaml/yaml.js') }}"></script>
<script src="{{ url_for('bower.static', filename='commonmark/dist/commonmark.js') }}"></script>

<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>

<script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('bower.static', filename='esprima/esprima.js') }}"></script>
<script src="{{ url_for('bower.static', filename='d3/d3.min.js') }}"></script>
<script src="{{ url_for('bower.static', filename='js-yaml/dist/js-yaml.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap-theme.min.css') }}">

<link rel="stylesheet" href="{{ url_for('bower.static', filename='github-markdown-css/github-markdown.css') }}">
<link rel="stylesheet" href="{{ url_for('bower.static', filename='codemirror/theme/midnight.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='bokeh-0.9.1.min.js') }}">
    </script>
<link rel="stylesheet" href="{{ url_for('static', filename='bokeh-0.9.1.min.css') }}" type="text/css">
