<!doctype html>
<html>
    <head>
      {% include "head.html" %}
    </head>
    <body>
      {% include "nav.html" %}
      <div class="container">
        <div class="row columns">
          <div class="panel panel-default">
            <div class="panel-heading">
              Column Data Sources
            </div>
            <div class="panel-body">
              {% for col in columns %}
              <button class="column-{{col['name']}} col-md-3 btn btn-primary" type="button" data-column-name="{{col['name']}}">
                {{col['name']}}<span class="badge">{{col['format']}}</span>
              </button>
              {% endfor %}
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              Data Table
            </div>
            <div class="panel-body">
              {{table_html | safe}}
            </div>
          </div>

        </div>
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <ul class="interactive nav nav-pills">
              <li class="active"><a id="editor-tab" >Editor</a></li>
              <li><a id="bokeh-tab" >Bokeh</a></li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="row plots">
            </div>
            <br>
            <div class="row bokehs" id="bokeh-explorer">
            </div>
          </div>
        </div>
        </div>
      </div>
    </body>
    <script>
    d3.selectAll('table').classed('table',true)

    var columns = d3.selectAll('[data-column-name]');
    var column_titles = columns[0].map( function(_this){
      return _this.dataset.columnName;
    })

    var bokeh_yaml = function(){
      figures = {
        'dataset_name': d3.select('.datasets .active a').node().dataset['datasetName'],
      };
      d3.selectAll('.plots table tbody')
        .each( function(d){
          var row = d3.select(this)
            .select('th')
            .data()[0];

          d3.select(this)
            .selectAll('td')
            .each( function(){
              var col = this.__data__;
              if (this.innerText.trim().length > 0){
                figures[row] = {
                  'figure': {
                    'width': 400,
                    'height': 400,
                  },
                  'glyphs': []
                };
                d3.entries(jsyaml.load( this.innerText ))
                    .forEach( function(d){
                        var tmp = {};
                        tmp[d.key] = d.value;
                        tmp[d.key]['x'] = row;
                        tmp[d.key]['y'] = col;
                        figures[row]['glyphs'].push(tmp)
                    })
              }
            })

        });
        console.log(figures)
        return figures;
      }

      d3.select('#bokeh-tab')
        .on('click', function(){

        })
    columns.on('click', function(){
        var column_name = this.dataset['columnName'];
        var class_name = "column-" + column_name;
        var column = d3.selectAll( '[data-column-name="'+column_name+'"]' );
        var plots = d3.select('.plots');
        if ( plots.select('.'+class_name).node() ){

        } else {
          var panel = plots.append('div')
            .classed( class_name, true )
            .classed({
              'panel': true,
              'panel-default': true,
              'plot': true,
            });

          var table = panel.append('div')
            .classed('panel-body', true )
            .append('table')
            .classed('table', true );

          var header = table.append('thead')
            .append('tr');
          var control = header.append('td').text('VS')
            .datum({
              'name': column_name,
            });

          control.on('mouseenter', function(){
              this.innerText = 'Close';
          })
          .on('mouseleave', function(){
              this.innerText = 'VS';
          })
          .on('click', function(){

            d3.select( '.plot.column-' + this.__data__.name )
              .remove();
          });
          header.selectAll('th')
            .data(column_titles)
            .enter()
            .append('th')
            .text(function(name){return name;});
          var row = table.append('tbody')
            .append('tr');
          row.append('th')
            .datum( column_name )
            .text(column_name);
          row.selectAll('td')
            .data(column_titles)
            .enter()
            .append('td')
            .append('pre')
            .append('code')
            .attr('contenteditable', true);

          var footer = panel.append('div')
            .classed('panel-footer',true)
            .append('textarea')
            .classed('metadata', true )
            .classed('yaml',true)
            .classed('form-control',true)
            .attr('rows',1)
            .text('---\n# Figure Data\n---\n##Markdown data');

          var itabs = d3.selectAll('.interactive li');
          itabs.on('click', function(){
              itabs.classed('active', false);
              console.log(this)
              d3.select(this).classed( 'active', true)
            })

        }

        var dispatch = d3.dispatch( 'bokeh' );

        dispatch.on( 'bokeh.update', function(){
          d3.json("/bokeh")
              .header("Content-Type", "application/json")
              .post(JSON.stringify(
                      bokeh_yaml()
                  ), function(error, data) {
                      // Load plot data from the Flask application
                      // Placeholder exists for the Bokeh plot.
                      // ref - p.dump()
                      Bokeh.$(function() {
                          Bokeh.load_models( JSON.parse(data['all_models']));
                          var model = Bokeh.Collections( data['ref']['type'] ).get( data['ref']['id'] );
                          var view = new model.default_view({
                              model: model,
                              el: '#bokeh-explorer'
                          });
                          Bokeh.index = {};
                          Bokeh.index[data['ref']['id']] = view;
                      }); //Bokeh
                      d3.selectAll('.bk-bs-nav-tabs')
                        .on('click', function(){
                        })
                      d3.select('.bk-bs-nav-tabs')
                        .node().click()
              }); //post
        });

        d3.select('#bokeh-tab')
          .on('click', function(){
            dispatch['bokeh']();
            d3.select('.plots')
              .style('display','none')
            d3.select('.bokehs')
              .style('display','block')
          })
        d3.select('#editor-tab')
          .on('click', function(){
            d3.select('.bokehs')
              .style('display','none')
            d3.select('.plots')
              .style('display','block')
            })
      })
    </script>
</html>
