<!doctype html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js">
            </script>
    </head>
    <body>
        <a id="post-button">Click it</a>
        <script>
        ;(function(){
            d3.select('#post-button')
                .on('click', function(){
                    d3.csv("/bokeh")
                        .header("Content-Type", "application/json")
                        .post(JSON.stringify({a: 2, b: 3}), function(error, data) {
                          // callback
                        });

                    })
            })();
        </script>
    </body>
</html>